nav {
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0;
  box-shadow: 4px 4px 8px #00000020;
}

nav svg {
  height: 5rem;
  width: auto;
}

.switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch svg {
  height: 2rem;
  width: auto;
}

.switch label {
  background-color: grey;
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px;
}

.switch label span {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: white;
  transition: 0.2s;
}

.check-switch:checked + .slider {
  transform: translateX(2rem);
}
